// .gitignore
# Environments
.venv/
venv/

# Python artifacts
__pycache__/
*.py[cod]
*.pyc

# Django
db.sqlite3-journal
*.log
media/
staticfiles/

# Tools/packaging
dist/
build/
*.egg-info/

# Editors
.vscode/
.idea/
.DS_Store

