@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #18181b; /* zinc-900 */
  transition-property: color, background-color;
  transition-duration: 300ms;
}

/* This manually applies the dark styles when the "dark" class is present */
:is(.dark body) {
  background-color: #09090b; /* zinc-950 */
  color: #ffffff;
}