@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #18181b; /* zinc-900 */
  transition-property: color, background-color;
  transition-duration: 300ms;
}

@custom-variant dark (&:where(.dark, .dark *));